<div>
    <div id="context2">
        <div class="ui secondary menu">
            <a class="item active" data-tab="player">Players</a>
            <a class="item" data-tab="fixture">Upcoming Fixtures</a>
        </div>
        <div class="ui active tab segment" data-tab="player">
            <app-players [playerUrl]="playerUrl">
            </app-players>
        </div>
        <div class="ui tab segment" data-tab="fixture">
            <app-fixtures [fixtureUrl]="fixtureUrl">
            </app-fixtures>
        </div>
    </div>
</div>